# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
.terraformrc
terraform.rc

# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/

# OS and Editor Specific
.DS_Store
.vscode/
*.swp
*~